.promo-page-first{
    font-family: 'TT Travels', sans-serif;
    font-weight: 500;
    color: #FFFFFF;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/profile/Фон.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.promo-app {
    text-align: center;
}
  
.promo-app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: white;
}
  
.promo-icons {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 0%;
}
  
.promo-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.promo-icon img {
    width: 86%;
    height: 94%;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.promo-icon img:hover {
    box-shadow: 0 0 20px rgb(0, 255, 0);
}

.promo-icon p {
    position: absolute;
    bottom: 2%;
    left: 9%;
    font-size: 150%;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
}
  
.promo-collections {
    position: absolute;
    top: 55%;
    left: 6%;
    text-align: left;
    margin-top: 20px;
    text-decoration: underline;
}

.promo-answer-collections {
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: left;
    margin: 20px;
    text-decoration: underline;
}