.notfound-page {
    font-family: 'TT Travels', sans-serif;
    font-weight: 500;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/profile/Фон.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound-rect {
    height: 40%;
    width: 35%;
    background: linear-gradient(to right top, #1EF1F1, #E3FF30);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound-message {
    color: #000000;
    font-size: 130%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.notfound-message-head {
    vertical-align: bottom;
    margin: 5%;
    margin-bottom: 10%;
}

.notfound-message-text {
    vertical-align: middle;
    margin: 5%;
    margin-bottom: 25%;
}